<!--侧边栏-->
<aside class="sidebar  col-md-4">
    <!-- 博主简介 -->
    <div class="home-about excerpt-minic">
        <div class="title">博主简介</div>
        <div class="home-about-img">
            <img src="images/icon.jpg" alt=""></div>
        <div class="home-about-text1">
            <b><%= locals.user.nickname %></b>
            <p><%= locals.user.position %></p>
            <p><%= locals.user.other %></p>
        </div>
        <div class="home-about-text2">个人签名：<%= locals.user.signature %></div>
    </div>
    <!-- 精选文章 -->
    <div class="home-selected excerpt-minic">
        <div class="title">精选文章</div>
        <ul>
            <li>
                <img src="images/5431586.jpg" class="img-responsive">
                <h3><a href="#">越努力越幸运-字体效果设计（教程）</a></h3>
                <p>
                    <span>2018-1-12</span>
                    <span>
                        <i class="glyphicon glyphicon-heart"></i>
                        <b>阅读：235</b>
                    </span>
                </p>
            </li>
            <li>
                <img src="/images/5431586.jpg" class="img-responsive">
                <h3><a href="#">越努力越幸运-字体效果设计（教程）</a></h3>
                <p>
                    <span>2018-1-12</span>
                    <span>
                        <i class="glyphicon glyphicon-heart"></i>
                        <b>阅读：235</b>
                    </span>
                </p>
            </li>
        </ul>
    </div>
    <!-- 热门文章 -->
    <div class="home-hot excerpt-minic">
        <div class="title">热门文章</div>
        <ul>
            <li>
                <h3><a href="#">【回音小讲堂】五分钟画视幻 分享人啊啊啊啊</a></h3>
                <p><span>2018-1-12</span><span><i class="glyphicon glyphicon-heart"></i><b>阅读：235</b></span></p>
            </li>
            <li>
                <h3><a href="#">【回音小讲堂】五分钟画视幻 分享人啊啊啊啊</a></h3>
                <p><span>2018-1-12</span><span><i class="glyphicon glyphicon-heart"></i><b>阅读：235</b></span></p>
            </li>
            <li>
                <h3><a href="#">【回音小讲堂】五分钟画视幻 分享人啊啊啊啊</a></h3>
                <p><span>2018-1-12</span><span><i class="glyphicon glyphicon-heart"></i><b>阅读：235</b></span></p>
            </li>
            <li>
                <h3><a href="#">【回音小讲堂】五分钟画视幻 分享人啊啊啊啊</a></h3>
                <p><span>2018-1-12</span><span><i class="glyphicon glyphicon-heart"></i><b>阅读：235</b></span></p>
            </li>
        </ul>
    </div>
</aside>